<div class="container mt-3">
  <mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
  <h1 class="text-center">Hej och välkommen till</h1>
  <h1
    class="text-center text-decoration-underline user-select-none text-danger"
  >
    Tumba Gymnastik & Idrottsförening!
  </h1>
  <div class="row mt-4">
    <div class="col-md-6 mb-3">
      <app-card
        [label]="'Tumba Gymnastik'"
        [email]="'info@tumbagoif.se'"
        [websiteUrl]="'www.tumbagymnastik.se'"
        [imageUrl]="'../assets/images/tumba-gymnastik.png'"
      ></app-card>
    </div>
    <div class="col-md-6 mb-3">
      <app-card
        [label]="'Tumba Gymmix'"
        [email]="'info@tumbagoif.se'"
        [websiteUrl]="'www.tumbagymnastik.se/start/?ID=247932'"
        [specialWebsiteUrlName]="'www.tumbagymnastik.se'"
        [imageUrl]="'../assets/images/tumba-gymnastik.png'"
      ></app-card>
    </div>
    <div class="col-md-6 mb-3">
      <app-card
        [label]="'Tumba Innebandy'"
        [email]="'example@example.com'"
        [websiteUrl]="'www.svenskalag.se/tumbainnebandy'"
        [imageUrl]="'../assets/images/tumba-innebandy.png'"
      ></app-card>
    </div>
    <div class="col-md-6 mb-3">
      <app-card
        [label]="'Tumba Basket'"
        [email]="'example@example.com'"
        [websiteUrl]="'www.tumbabasket.se'"
        [imageUrl]="'../assets/images/tumba-basket.png'"
      ></app-card>
    </div>
  </div>
</div>
