<div class="container">
  <h1 class="text-center">
    Hej och välkommen till
    <span href="/" class="hover-underline-animation user-select-none"
      >Tumba Gymnastik & Idrottsförening!</span
    >
  </h1>
  <div class="row mt-5">
    <div class="col-md-6 mb-3">
      <app-card [label]="'Tumba Basket'"></app-card>
    </div>
    <div class="col-md-6 mb-3">
      <app-card [label]="'Tumba Gymnastik'"></app-card>
    </div>
    <div class="col-md-6 mb-3">
      <app-card [label]="'Tumba Innebandy'"></app-card>
    </div>
    <div class="col-md-6 mb-3">
      <app-card [label]="'Tumba Gymmix'"></app-card>
    </div>
  </div>
</div>
