body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(32 33 36);
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  color: azure;
}

app-root {
  flex: 1 1 auto;
}

.image-auto {
  height: auto;
  width: auto;
}

.icon-text-small {
  display: flex;
  align-items: center;
}
.icon-text-small mat-icon {
  font-size: 24px !important;
}
.icon-text-small span a {
  font-size: 10px;
}

/* Mobile */
p,
a,
span,
div {
  font-size: 12px;
}

.container {
  padding: 14px;
}

/* Tablet */
@media (min-width: 600px) {
  p,
  a,
  span,
  div {
    font-size: 12px;
  }
  .container {
    padding: 20px;
  }
}

/* Desktop */
@media (min-width: 900px) {
  a {
    font-size: 14px;
  }
  p,
  a,
  span,
  div {
    font-size: 14px;
  }
  .container {
    padding: 24px;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
